section#draw.page.page-3.js-page
    .container
        .content.content__left(style="background-image: url(img/page3/bg-left.png)")
            .page-3__nevia
                img(src='img/page3/nivea.svg')
        .content.content__right
            h3.title.page-3__title Полные правила акции
            .page-3__text
                | Настоящие правила регламентируют порядок организации и проведения рекламной акции (далее Акция) на территории всех магазинов «НОВЭКС». Информация об Организаторе Акции, о правилах её проведения, количестве призов, сроках, месте и порядке их получения размещаются на сайте
                |
                a(href='https://novex.ru')
                    b novex.ru
                |
                |. (далее – Сайт акции) или сообщаются по телефону горячей линии
                |
                |
                a(href='tel:88002004550')
                    b 8 (800) 200-45-50
            a(href="#").button.button_not-border Открыть в новой вкладке
            a(href="#").button.button_not-border Скачать в PDF