.page-0 {
  position: relative;

  & .center {
    position: absolute;
    max-width: 411px;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 16px;
    & img {
      width: 100%;
    }

    @include notebook {
      max-width: 350px;
    }

    @include lg-block {
      max-width: 300px;
      top: 50vh;
      right: 0;
      left: auto;
      z-index: 5;
    }

    @include to(525px) {
      display: none;
    }
  }

  & .container {
    display: flex;
    @include lg-block {
      flex-direction: column;
    }
  }

  & .content__left,
  & .content__right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    @include lg-block {
      height: 100vh;
      width: 100%;
      box-sizing: border-box;
    }
  }

  & .content__left {
    position: relative;
    background: url("../img/page0/bg-left.png"), linear-gradient(137.57deg, #03158B 2.78%, #00136F 67.68%) no-repeat center;
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/page0/products.png") no-repeat center bottom;
      background-size: contain;
      width: 403px;
      height: 422px;

      @include notebook {
        width: 303px;
        height: 322px;
      }
    }

  }

  & .content__right {
    position: relative;
    background: url('../img/page0/bg-right.png') no-repeat center;
    background-size: cover;
    padding-left: 21.51vw  /* 413/19.2 */;
    @include lg-block {
      padding: 20px 15px;
      height: 80vh;
    }

    @include sm-block {
      height: 50vh;
    }
  }

  &__right-logo {
    text-align: right;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 48px;
    right: 55px;

    & img {
      max-width: 100%;
      max-height: 100%;
    }

    @include notebook {
      top: 30px;
      right: 30px;
      width: 80px;
      height: 80px;
    }

    @include sm-block {
      top: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    margin-top: 10.15vh  /* 100/9.85 */;
    z-index: 10;
  }

  .content__left &__text {

    @include lg-block {
      margin-top: 30px;
    }
  }


  &__date {
    font-size: 2.44vh  /* 24/9.85 */;
    line-height: 3.25vh  /* 32/9.85 */;
    color: #fff;
    margin-bottom: 1.62vh  /* 16/9.85 */;
  }

  & .title {
    color: #fff;
    font-size: 5.48vh  /* 54/9.85 */;
    line-height: 7.41vh  /* 73/9.85 */;
    margin-bottom: 3.55vh  /* 35/9.85 */
  }

}

.mouse {
  position: absolute;
  top: 90.3vh;
  left: 6.25vw  /* 120/19.2 */;
  width: 25px;
  height: 36px;
  border-radius: 30px;
  -moz-transform: none; /* Для Firefox */
  -ms-transform: none; /* Для IE */
  -webkit-transform: none; /* Для Safari, Chrome, iOS */
  -o-transform: none; /* Для Opera */
  transform: none;
  border: 2px solid white;
  z-index: 1;
  box-sizing: border-box;
  flex: 0 1 auto;

  @include lg-block {
    left: 70px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 6.29vh  /* 62/9.85 */;
    top: -9.14vh  /* -90/9.85 */;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background-color: #fff;

    @include lg-block {
      content: none;
    }
  }

  &__roller {
    display: block;
    margin: 8px auto;
    background: #fff;
    position: relative;
    border-radius: 2px;
    width: 2px;
    height: 6px;
    animation: move 1s infinite;
  }
}

@keyframes move {
  from {
    top: 0;
    opacity: .8;
  }
  to {
    top: 5px;
    opacity: .2;
  }
}

@keyframes left-move {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 0;
  }
}
