section#main.page.page-0.js-page.is-show
    .container.container_page-0
        .center
            img(src='img/page0/present.png')

        .content.content__left
            a.logo(href="https://novex.ru" target="_blank") Novex
                span.logo-en
                span.logo-symbol
                span.logo-ru

            .page-0__text
                .page-0__date С 18 ноября по 15 декабря 2019 года
                h3.title Выигрывай
                    br
                    |суперпризы от
                    |
                    b.uppercase Nivea
                a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека
            .mouse
                .mouse__roller

        .content.content__right
            .page-0__right-logo
                img(src='img/page0/nivea.svg')