extends ../views/layouts/default
block variables
	- var title = "New Page";

block content
	#pinMaster
		#pinContainer
			section.panel.one
				h1 Pin Panel A
			section.panel.two
				h1 Pin Panel B
			section.panel.three
				h1 Pin Panel C
			section.panel.four
				h1 Pin Panel D
			section.panel.five
				h1 Pin Panel E
			section.panel.six
				h1 Pin Panel F

