.page-1 {

  & .container {
    display: flex;

    @include lg-block {
      flex-direction: column;
    }
  }

  & .content__left,
  & .content__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    @include lg-block {
      width: 100%;
      box-sizing: border-box;
    }
  }

  & .content__left {
    position: relative;
    background: url("../img/page1/bg-left.png"), linear-gradient(137.57deg, #03158B 2.78%, #00136F 67.68%), no-repeat center;
    background-size: cover;
    overflow: hidden;
  }

  & .content__right {
    background: url('../img/noise.png'), linear-gradient(180deg, #2167B9 4.77%, #FFFFFF 100%);
    align-items: center;
  }

  &__text {
    margin-top: 3.55vh  /* 35/9.85 */;
    color: #fff;
  }

  &__date {
    font-size: 2.44vh  /* 24/9.85 */;
    line-height: 3.65vh  /* 36/9.85 */;
    color: #fff;
    margin-bottom: 1.22vh  /* 12/9.85 */;
  }

  &__desc {
    font-size: 3.25vh  /* 32/9.85 */;
    line-height: 4.87vh  /* 48/9.85 */;
    text-transform: uppercase;
    color: #fff;
    margin-top: 12px;
  }

  &__products {
    max-width: 794px;
    width: 100%;
    max-height: 474px;
    box-sizing: border-box;
    margin-top: 7.11vh  /* 70/9.85 */;
    position: absolute;
    right: 4.5625vw;
    bottom: 10.66vh  /* 105/9.85 */;

    @include lg-block {
      position: relative;
      right: auto;
      bottom: auto;
      transform: scale(1.2);
      margin-bottom: 20px;
      overflow: hidden;
    }

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__raffle {
    font-size: 3.25vh  /* 32/9.85 */;
    line-height: 6.5vh  /* 64/9.85 */;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    & h3 {
      font-weight: bold;
    }
  }

  & .prize {
    position: relative;
    max-width: 337px;
    width: 100%;
    margin-right: 2.083vw  /* 40/19.2 */;
    padding-right: 37px;
    &:nth-child(even) {
      margin-right: 0;
    }

    @include md-block {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: 230px;
    }

    &__list {
      margin-top: 9.44vh  /* 93/9.85 */;
      margin-bottom: 6.8vh  /* 67/9.85 */;
      display: flex;
      align-items: center;
      justify-content: center;
      @include md-block {
        flex-direction: column;
        margin-left: 37px;
        margin-bottom: 0;
      }
    }

    &__count {
      position: absolute;
      top: -31px;
      right: 0;
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      @include notebook {
        width: 100px;
        height: 100px;
      }

      & span {
        position: relative;
        font-weight: bold;
        font-size: 52px;
        line-height: 69px;
        color: #FF4F73;
        padding-top: 45px;
        padding-bottom: 50px;
        box-sizing: border-box;
        &:before {
          content: 'x';
          position: relative;
          font-weight: bold;
          font-size: 32px;
          line-height:1;
          color: #FF4F73;
          margin-right: 3px;
        }

        @include notebook {
          font-size: 42px;
          line-height: 59px;

          &:before {
            font-size: 22px;
          }
        }
      }
    }

    &__phone {

      & img {
        position: relative;
        top: 23px;
        left: 10px;
      }
    }

    &__img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: #FDAF1B;
      margin-bottom: 2.54vh  /* 25/9.85 */;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        max-width: 90%;
        max-height: 90%;
      }

      @include notebook {
        width: 250px;
        height: 250px;
        margin: auto;

        & img {
          max-width: 90%;
          max-height: 90%;
        }
      }

      @include xl-block {
        width: 200px;
        height: 200px;
      }
    }

    &__text {
      margin-top: 2.54vh  /* 25/9.85 */;
    }

    &__date,
    &__title {
      font-size: 2.74vh  /* 27/9.85 */;
      line-height: 3.65vh  /* 36/9.85 */;
      text-align: center;
      text-transform: uppercase;
      color: #03158B;
    }

    &__date {
      font-weight: bold;
    }
  }
}