section#prizes.page.page-1.js-page
    .container.container_page-1
        .content.content__left
            .page-1__text
                .page-1__date С 18 ноября по 15 декабря 2019 года
                h3.title
                    b.uppercase Купи
                .page-1__desc
                    | продукты
                    |
                    b Nivea
                    br
                    | на сумму от
                    |
                    b 300 руб.
                .page-1__products
                    img(src='img/page1/products.png')

        .content.content__right
            .page-1__raffle
                span Участвуй
                h3.title в розыгрыше
            .prize__list
                .prize
                    .prize__count
                        span 100
                    .prize__img
                        img(src='img/page1/card.png')
                    .prize__text
                        .prize__date Каждый день
                        .prize__title 5 сертификатов по&nbsp;2000&nbsp;руб.
                .prize
                    .prize__count
                        span 4
                    .prize__img.prize__phone
                        img(src='img/page1/phone.png')
                    .prize__text
                        .prize__date Каждую неделю
                        .prize__title Смартфон Apple



            a(href='#register').button.button-red.js-scroll-link Зарегистрировать код с чека