.page-2 {

  &__title {
    margin-top: 2.84vh  /* 28/9.85 */;
    position: relative;
    color: #fff;
    z-index: 1;
    letter-spacing: 0.04em;
    margin-bottom: 1.22vh  /* 12/9.85 */;

    @include lg-block {
      margin-top: 0;
    }

    @include sm-block {
      font-size: 28px;
    }
  }

  &__desc {
    font-size: 3.25vh  /* 32/9.85 */;
    line-height: 4.87vh  /* 48/9.85 */;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }

  &__check {
    position: absolute;
    top: 30.46vh  /* 300/9.85 */;
    bottom: 6.09vh  /* 60/9.85 */;
    left: 0;
    right: auto;
    margin: auto;
    width: 100%;
    height: 69.24vh  /* 682/9.85 */;
    z-index: 1;
    & img {
      display: inherit;
      max-width: 549px;
      max-height: 100%;
      margin: auto;

      @include to(1400px) {
        margin: auto;
      }
    }

    @include notebook {
      height: auto;
      & img {
        max-width: 349px;
        margin-top: auto;
        margin-bottom: 0;
      }
    }

    @include lg-block {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      display: flex;
      align-items: flex-end;
      position: relative;

      & img {
        display: inherit;
        max-width: 771px;
        margin: auto auto 0 auto;
        width: auto;
      }
    }

    @include sm-block {
      & img {
        max-width: 400px;
        width: 100%;
      }
    }
  }

  & .container {
    width: 100%;
    display: flex;
    @include lg-block {
      flex-direction: column;
    }
  }

  & .content__left {
    position: relative;
    width: 50vw;
    margin: 0;
    background: url('../img/noise.png'), linear-gradient(180deg, #2167B9 4.77%, #FFFFFF 100%);
    @include lg-block {
      width: 100%;
      overflow: hidden;
    }
  }

  & .content__right {
    background: url('../img/noise.png'), #5A4282;;
    width: 50vw;
    margin: 0;
    z-index: 1;
    padding-left: 6.771vw  /* 130/19.2 */;
    padding-right: 8.75vw  /* 168/19.2 */;
    @include lg-block {
      width: 100%;
      overflow: hidden;
    }
  }


  & .block-vertical-center {

    @include lg-block {
      transform: none;
      top: 0;
    }
  }

  &__products {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: -1;

    @include to(360px) {
      display: none;
    }

    @include lg-block {
      left: 0;
      right: 0;
      margin: auto;
      box-sizing: border-box;
    }

    & .deodorant {
      background: url("../img/page2/deodorant.png") no-repeat center;
      width: 15.78125vw  /* 303/19.2 */;
      height: 45.38vh  /* 447/9.85 */;
      left: 0;
      bottom: 0;

      @include lg-block {
        left: -15px;
        width: 303px;
        height: 447px;
      }

      @include sm-block {
        width: 203px;
        height: 347px;
      }
    }

    & .roller {
      background: url("../img/page2/roller.png") no-repeat center;
      width: 11.40625vw  /* 219/19.2 */;
      height: 41.83vh  /* 412/9.85 */;
      top: -10.66vh  /* -105/9.85 */;
      left: 5.208vw  /* 100/19.2 */;

      @include lg-block {
        width: 219px;
        height: 412px;
        left: 0;
      }

      @include sm-block {
        left: -15px;
        width: 119px;
        height: 312px;
      }
    }

    & .cream {
      background: url("../img/page2/cream.png") no-repeat center;
      width: 11.927vw  /* 229/19.2 */;
      height: 23.25vh  /* 229/9.85 */;
      top: -5.08vh  /* 50/9.85 */;
      right: 9.635vw  /* 185/19.2 */;

      @include lg-block {
        width: 229px;
        height: 229px;
      }

      @include sm-block {
        top: 0;
        right: 0;
        width: 129px;
        height: 129px;
      }
    }

    & .balsam {
      background: url("../img/page2/balsam.png") no-repeat left center;
      width: 13.229vw  /* 254/19.2 */;
      height: 33.2vh  /* 327/9.85 */;
      right: 3.125vw  /* 60/19.2 */;
      bottom: 16.24vh  /* 160/9.85 */;

      @include lg-block {
        width: 254px;
        height: 327px;
        right: -25px;
      }

      @include sm-block {
        width: 154px;
        height: 227px;
        right: -45px;
      }
    }

    & .deodorant,
    & .roller,
    & .cream ,
    & .balsam {
      position: absolute;
      display: inline-block;
      background-size: contain;
      background-position: left center;
      z-index: -1;
    }

  }
}


.ticket-form {

}

.ticket-form__elem {
  margin-bottom: 2.44vh  /* 24/9.85 */
}

.tablet .ticket-form__elem {
  margin-bottom: 1vh;
}

.ticket-form__elem label {
  position: relative;
  display: block;
}

.ticket-form__elem-title {
  white-space: nowrap;
  position: absolute;
  top: 14px;
  left: 0;
  color: #5a6555;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding: 0 25px;
  -moz-transition: top 0.3s ease, font-size 0.3s ease;
  -webkit-transition: top 0.3s ease, font-size 0.3s ease;
  transition: top 0.3s ease, font-size 0.3s ease;

  @include md-block {
    font-size: 18px;
    line-height: 22px;
    padding: 0 15px;
  }

}

.tablet .ticket-form__elem-title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 20px;
}

.ticket-form__elem input {
  outline: none;
  border: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 3.3rem;
  box-sizing: border-box;
  height: 60px;
  padding: 15px 25px 0;
  width: 100%;
  color: #15240d;
  -moz-transition: border 0.3s ease;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;

  @include md-block {
    height: 50px;
    padding: 15px 15px 0;
  }
}

.tablet .ticket-form__elem input {
  font-size: 1.5rem;
  line-height: 2.5rem;
  height: 80px;
}

.ticket-form__verification {
  margin-bottom: 24px;
  font-size: 1.62vh  /* 16/9.85 */;
  line-height: 2.44vh  /* 24/9.85 */;
  color: #fff;

  @include lg-block {
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}

.ticket-form__verification-check {
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.ticket-form__verification-text {
  width: #{calc(100% - 50px)};
  display: inline-block;
  vertical-align: top;
}

.ticket-form__verification-text a {
  border: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.ticket-form__verification-text a:hover {
  border-bottom: 1px solid #fff;
}

.ticket-form__elem.error input {
  color: #ED395E;
  border-color: #ED395E;
}

.ticket-form__elem.active input {
  border-color: #569b28;
}

.active .ticket-form__elem-title {
  top: 4px;
  font-size: 0.87rem;
  color: #5a6555;
}

.tablet .active .ticket-form__elem-title {
  top: -20px;
  font-size: 1.2rem;
}

.error .ticket-form__elem-title {
  top: 4px;
  font-size: 0.87rem;
  color: #ED395E;
}

.tablet .error .ticket-form__elem-title {
  top: -25px;
  font-size: 1.2rem;
  color: #ED395E;
}

.ticket-form__elem.success input {
  border-color: #e5e9ed;
}

.success .ticket-form__elem-title{
  top: 4px;
  font-size: 0.87rem;
  color: #5a6555;
}

.error.success .ticket-form__elem-title {
  color: #FF4F73;
}

.tablet .success .ticket-form__elem-title{
  top: -25px;
  font-size: 1.2rem;
  color: rgba(72, 11, 46, .6);
}

.ticket-form__error-text {
  position: absolute;
  bottom: -1.3em;
  width: 100%;
  color: #FF4F73;
  font-size: 0.8em;
  margin-top: 1px;
  margin-bottom: 0;
  @include lg-block {
    font-size: 0.6em;
    bottom: -1.6em;
  }
}

.tablet .ticket-form__error-text {
  height: 0;
  position: relative;
  top: 4px;
}

.Edge .ticket-form__error-text {
  position: absolute;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ticket-form__elem-title {
    line-height: 1rem;
  }

  .ticket-form__elem input {
    line-height: 1rem;
  }

  .ticket-form__elem.error input {
    color: #FF4F73;
    border-color: #FF4F73;
  }

  .ticket-form__elem.active input {
    border-color: rgb(230, 191, 0);
  }

  .active .ticket-form__elem-title {
    top: -26px;
    font-size: 0.87rem;
    color: rgba(72, 11, 46, .6);
  }

  .error .ticket-form__elem-title {
    top: -26px;
    font-size: 0.87rem;
    color: #FF4F73;
  }

  .ticket-form__elem.success input {
    border-color: #e5e9ed;
  }

  .success .ticket-form__elem-title{
    top: -26px;
    font-size: 0.87rem;
    color: rgba(72, 11, 46, .6);
  }

  .error.success .ticket-form__elem-title {
    color: #FF4F73;
  }

  .ticket-form__error-text {
    color: #FF4F73;
    font-size: 0.8em;
    margin-top: -2px;
  }
}

.checkbox-hide {
  display: none;
}

.checkbox-hide:checked + span {
  background-color: transparent;
}

.checkbox-hide:checked + span:after {
  content: "";
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(icon-check());
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.tablet .checkbox-hide:checked + span:after {
  width: 50px;
  height: 50px;
}

.checkbox-show {
  vertical-align: top;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;

  background: #C0D1EE;
  .checkbox-hide:checked + &:after {
    background-image: url(icon-check('C0D1EE'));
    background-color: #03158B;
  }
}

.tablet .checkbox-show {
  width: 50px;
  height: 50px;
}
