section#winners.page.page-6.js-page.js-winners
    .container.container_winners.page__right.container_page-6
        .bg-container
        .draw-winners.js-winners-tab.active
            .draw-winners__inner.js-winners-content
                .raffle
                    .raffle__inner
                        h3.title.raffle__title
                            |Победители розыгрыша
                        .raffle-card__list.js-slider-container
                            - var n = 0;
                            while n < 40
                                .raffle-card
                                    .raffle-card__top
                                        img(src='img/page6/raffle.png', alt='')
                                    .raffle-card__bottom
                                        .raffle-card__name Антон Пампушный
                                        .raffle-card__city  г. Кемерово
                                        .raffle-card__number 295*****71
                                - n++
                .copyright
                    | © 2019 Новэкс. Все права защищены
        .draw-winners.quest.js-winners-tab
            .draw-winners__inner.js-winners-content
                .raffle
                    .raffle__inner
                        h3.title.raffle__title
                            | Победители квеста
                        .raffle-card__list.js-slider-container
                            - var n = 0;
                            while n < 40
                                .raffle-card
                                    .raffle-card__top
                                        img(src='img/page6/present.png', alt='')
                                    .raffle-card__bottom
                                        .raffle-card__name Антон Пампушный
                                        .raffle-card__city  г. Кемерово
                                        .raffle-card__number 295*****71
                                - n++
